@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.link {
    @apply items-center text-sm font-medium focus:outline-none transition duration-150 ease-in-out;
}

.link-color {
    @apply text-gray-500 hover:text-gray-700 hover:border-gray-300 focus:text-gray-700 focus:border-gray-300;
    @apply dark:text-yellow-600 dark:hover:text-yellow-500 dark:focus:text-yellow-400;
}

.heading-color {
    @apply text-gray-900;
    @apply dark:text-yellow-500;
}

.text-color {
    @apply text-gray-600;
    @apply dark:text-gray-300;
}

.text-secondary-color {
    @apply text-gray-500;
    @apply dark:text-gray-400;
}

.hover-text-secondary-color {
    @apply hover:text-gray-500;
    @apply dark:hover:text-gray-400;
}

.card-color {
    @apply bg-white;
    @apply dark:bg-gray-600;
}

.card-header-footer-color {
    @apply bg-gray-200;
    @apply dark:bg-gray-700;
}

.form-input-color {
    @apply dark:bg-gray-500 dark:text-white dark:placeholder-gray-100;
}

.hidden-input-color {
    @apply bg-transparent border-0 hover:shadow-inner focus:shadow-inner hover:bg-white focus:bg-white;
    @apply dark:hover:bg-gray-500 dark:focus:bg-gray-500 dark:hover:text-white dark:focus:text-white;
}

.dropdown-title-color {
    @apply text-gray-400;
    @apply dark:text-gray-300;
}

.dropdown-divider-color {
    @apply border-gray-100;
    @apply dark:border-gray-600;
}

.border-color {
    @apply border-gray-200;
    @apply dark:border-gray-600;
}
