@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.link {
    @apply items-center text-sm font-medium focus:outline-none transition duration-150 ease-in-out;
}

.link-color {
    @apply text-gray-500 hover:text-gray-700 hover:border-gray-300 focus:text-gray-700 focus:border-gray-300;
    @apply dark:text-yellow-600 dark:hover:text-yellow-500 dark:focus:text-yellow-400;
}

.heading-color {
    @apply text-gray-900;
    @apply dark:text-yellow-500;
}

.text-color {
    @apply text-gray-600;
    @apply dark:text-gray-300;
}

.text-secondary-color {
    @apply text-gray-500;
    @apply dark:text-gray-400;
}

.hover-text-secondary-color {
    @apply hover:text-gray-500;
    @apply dark:hover:text-gray-400;
}

.card-color {
    @apply bg-white;
    @apply dark:bg-gray-600;
}

.card-secondary-color {
    @apply bg-white;
    @apply dark:bg-gray-700;
}

.card-header-footer-color {
    @apply bg-gray-200;
    @apply dark:bg-gray-700;
}

.form-input-color {
    @apply dark:bg-gray-700 dark:text-white dark:placeholder-gray-100;
}

.hidden-input-color {
    @apply bg-transparent border-0 hover:shadow-inner focus-within:shadow-inner hover:bg-white focus-within:bg-white;
    @apply dark:hover:bg-gray-700 dark:focus-within:bg-gray-700 dark:hover:text-white dark:focus-within:text-white;
}

.ProseMirror {
    @apply rounded-md block w-full px-1;
}

.form-input-color .ProseMirror {
    @apply dark:bg-gray-700 dark:text-white dark:placeholder-gray-100;
}

.hidden-input-color .ProseMirror {
    @apply bg-transparent border-0 hover:shadow-inner focus:shadow-inner hover:bg-white focus:bg-white;
    @apply dark:hover:bg-gray-700 dark:focus:bg-gray-700 dark:hover:text-white dark:focus:text-white;
}

.flatpickr-calendar {
    @apply dark:bg-gray-700;
}

.flatpickr-months svg {
    @apply fill-current dark:text-gray-300 dark:hover:text-yellow-600;
}

.flatpickr-day {
    @apply fill-current dark:text-gray-300 dark:hover:bg-yellow-600 dark:hover:border-yellow-600 dark:hover:text-gray-100;
}

.flatpickr-day.prevMonthDay {
    @apply fill-current dark:text-gray-400 dark:hover:bg-yellow-600 dark:hover:border-yellow-600 dark:hover:text-gray-100;
}

.flatpickr-day.nextMonthDay {
    @apply fill-current dark:text-gray-400 dark:hover:bg-yellow-600 dark:hover:border-yellow-600 dark:hover:text-gray-100;
}

.flatpickr-day.today {
    @apply fill-current dark:text-gray-300 dark:hover:bg-yellow-600 dark:border-yellow-600 dark:hover:border-yellow-600 dark:hover:text-gray-100;
}

.flatpickr-day.selected, .flatpickr-day.selected.prevMonthDay, .flatpickr-day.selected.nextMonthDay {
    @apply fill-current dark:text-gray-700 dark:bg-yellow-600 dark:hover:bg-yellow-600 dark:border-yellow-600 dark:hover:border-yellow-600 dark:hover:text-gray-100;
}

.flatpickr-current-month, .flatpickr-current-month .flatpickr-monthDropdown-months .flatpickr-monthDropdown-month, .flatpickr-weekday {
    @apply dark:text-gray-300 dark:bg-gray-700;
}

.dropdown-title-color {
    @apply text-gray-400;
    @apply dark:text-gray-300;
}

.dropdown-divider-color {
    @apply border-gray-100;
    @apply dark:border-gray-600;
}

.border-color {
    @apply border-gray-200;
    @apply dark:border-gray-600;
}

.slidein-left-leave-active,
.slidein-left-enter-active {
  transition: .25s;
}
.slidein-left-enter {
  transform: translate(100%, 0);
}
.slidein-left-leave-to {
  transform: translate(100%, 0);
}

code {
    @apply bg-gray-300;
    @apply dark:bg-gray-700;
}
